.top {
  .box {
    margin-bottom 1rem
  }
  .label {
    margin-bottom 0.5rem
    font-weight bold
  }
  .input {
    min-width 100%
    max-width 100%
    min-height 3rem
  }
  .result {
    min-height 2rem
  }
}
.tabs-component {
  margin 0
  width 100%
  >>> .tabs-component-tabs {
    margin 0 0 1rem
    padding 0
    align-items stretch
    display flex
    justify-content flex-start
    .tabs-component-tab {
      margin 0
      padding 0
      color #999
      font-size 14px
      font-weight 600
      list-style none
      .tabs-component-tab-a {
        margin 0
        padding 0 2rem 0 0
        line-height 2.5rem
        align-items center
        color inherit
        display flex
        text-decoration none
      }
    }
    .tabs-component-tab:hover {
      color #666
    }
    .tabs-component-tab.is-active {
      color #000
    }
  }
  >>> .tabs-component-panels {
    margin 0
    padding 0
  }
}
.side-by-side {
  display flex

  .left {
    width 50%
    pre {
      margin 0 2px 0 0
    }
  }
  .right {
    width 50%
    pre {
      margin 0 0 0 2px
    }
  }
  .label {
    margin-bottom 0.5rem
    font-weight bold
  }
}
pre {
  border-radius unset
  background-color lightgray
  color black
}
.ast-graph {
  margin 0 1px
  width calc(100% - 4px)
  height 400px
  border 1px solid black

  >>> .link {
    stroke gray
    stroke-width 0.5px
  }
}
